<!-- Page for adding an exercise without answer choices. -->
{% extends "layout.html" %}
{% block content %}

<form action="/add_exercise_one/{{ course_id }}" method="POST">
    <p>
        Tehtävän nimi:
        <input type="text" name="name">
    <p>
        Tehtävän kysymys: <br>
        <textarea name="question" rows="6" cols="50"></textarea>
    <p>
        Oikea vastaus:
        <input type="text" name="answer">
    <p>
        <input type="submit" value="Lisää tehtävä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}