<!-- Page for creating an multiple choice exercise. -->
{% extends "layout.html" %}
{% block content %}
<a href="/courses/{{ course_id }}">Palaa kurssisivulle</a>

<form action="/add_exercise_multiple/{{ course_id }}" method="POST">
    <p>
        Tehtävän nimi:
        <input type="text" name="exercise_name" value="{{exercise_name}}">
        {% if error_name %}
            <p><b><i>{{ error_name }}</i></b></p>
        {% endif %}
        {% if error_name_reserved %}
            <p><b><i>{{ error_name_reserved }}</i></b></p>
        {% endif %}
    <p>
        Tehtävän kysymys: <br>
        <textarea name="question" rows="6" cols="50">{{question}}</textarea>
        {% if error_question %}
            <p><b><i>{{ error_question }}</i></b></p>
        {% endif %}
    <p>
        Oikea vastaus:
        <input type="text" name="correct_answer" value="{{correct_answer}}">
        {% if error_answer %}
            <p><b><i>{{ error_answer }}</i></b></p>
        {% endif %}
    <p>
        {% for i in range(0, nro_choices) %}
            {{ i+1 }}. vaihtoehto:
            <input type="text" name="choice{{ i+1 }}" value="{{ choices[i] }}">
            <p>
        {% endfor %}
        {% if error_choices %}
            <p><b><i>{{ error_choices }}</i></b></p>
        {% endif %}
    <p>
        <input type="submit" name="submit" value="Lisää vaihtoehto">
    <p>
        <input type="submit" name="submit" value="Luo tehtävä">
        <input type="hidden" name="nro_choices" value="{{ nro_choices }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endblock %}