{% extends "layout.html" %}
{% block content %}

<p>Kurssi {{ course_name }}</p>

{% if status == "owner" %}
<p>Olet kurssin omistaja</p>

{% if open == 0 %}
<p>Kurssia ei ole aloitettu</p>
<form action="/courses/{{ course_name }}/update_course" method="post">
    <input type="hidden" name="update_value" value="1">
    <button type="submit">Aloita kurssi</button>
</form>
{% elif open == 1 %}
<p>Kurssi on käynnissä</p>
<form action="/courses/{{ course_name }}/update_course" method="post">
    <input type="hidden" name="update_value" value="2">
    <button type="submit">Sulje kurssi</button>
</form>
{% elif open == 2 %}
<p>Kurssi on suljettu</p>
{% endif %}

{% elif status == "teacher" %}
<p>Opettajat eivät voi liittyä muiden kursseille</p>

{% elif status == "student" %}
<p>Olet liittynyt tälle kurssille</p>

{% elif status == "visitor" %}
<p><a href="/enroll/{{ course_name }}">Liity kurssille</a></p>

{% endif %}

{% endblock %}