<!-- Shows all ongoing courses in a list -->
{% extends "layout.html" %}
{% block content %}

<h3>Käynnissä olevat kurssit</h3>
<p>Yhteensä {{ course_count }} kurssia | <a href="/my_courses">Katso omat kurssit</a></p>

<form action="/courses" method="POST">
  <p>
    Hae kurssia nimellä:
    {% if searched_name == None %}
      <input type="text" name="course_name">
    {% else %}
      <input type="text" name="course_name" value="{{ searched_name }}">
    {% endif %}
    <button type="submit" name="search">Hae</button>
    <input type="hidden" name="search_type" value="course_name">
  </p>
</form>

{% if search_by_name %}
  <form action="/courses" method="POST">
    <button type="submit" name="page" value="1">Nollaa haku</button>
    <input type="hidden" name="search_type" value="page">
  </form>
{% else %}
  Sivu {{ page_nro }} / {{ pages }}
  <form action="/courses" method="POST">
    <button type="submit" name="page" value="1">Alkuun</button>
    <button type="submit" name="page" value="{{ page_nro - 1 }}">Edellinen sivu</button>
    <button type="submit" name="page" value="{{ page_nro + 1 }}">Seuraava sivu</button>
    <button type="submit" name="page" value="{{ pages }}">Loppuun</button>
    <input type="hidden" name="search_type" value="page">
  </form>
{% endif %}

{% if course_list|length > 0 %}
  <ol>
    {% for id, course_name, teacher_name in course_list %}
    <li><a href="/courses/{{ id }}">{{ course_name }}, <i>{{ teacher_name }}</i></a></li>
    <br>
    {% endfor %}
  </ol>
{% else %}
  <br>
  <b>Ei hakutuloksia</b>
{% endif %}

{% endblock %}