<!-- Course page for the owner (teacher) of this course, before the 
course has been started. The owner can create and modify questions.
No one else can view the course. -->
{% extends "layout.html" %}
{% block content %}
{% include "course_page_topic.html" %}

<p>Olet kurssin omistaja</p>
<p>Kurssia ei ole aloitettu. Muut eivät voi nähdä kurssia.</p>
<form action="/update_course" method="post">
    <input type="hidden" name="update_value" value="1">
    <input type="hidden" name="course_name" value="{{ course_name }}">
    <button type="submit">Aloita kurssi</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<h3>Lisää tehtävä</h3>
<form action="/add_exercise_one/{{ course_url }}" method="get">
    <button type="submit">Tekstivastaus</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<form action="/add_exercise_multiple/{{ course_url }}" method="get">
    <button type="submit">Monivalinta EI KÄYTÖSSÄ</button>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% include "course_page_exercises.html" %}
{% endblock %}