<!-- Course page for the owner (teacher) of this course, before the 
course has been started. The owner can create and modify questions.
No one else can view the course. -->
{% extends "course_page_layout.html" %}
{% block content %}

<p>Olet kurssin omistaja</p>
<p>Kurssia ei ole aloitettu</p>
<form action="/courses/{{ course_name }}/update_course" method="post">
    <input type="hidden" name="update_value" value="1">
    <button type="submit">Aloita kurssi</button>
</form>
<h3>Lisää tehtävä</h3>
<form action="/courses/{{ course_name }}/add_exercise_one" method="get">
    <button type="submit">Tekstivastaus</button>
</form>
<br>
<form action="/courses/{{ course_name }}/add_multiple" method="get">
    <button type="submit">Monivalinta</button>
</form>

{% endblock %}