<!-- Course page for the owner (teacher) of this course, before the 
course has been started. The owner can create and modify questions.
No one else can view the course. -->
{% extends "layout.html" %}
{% block content %}

<h1>{{ course_name }}</h1>
<p>{{ description }}</p>
<p>Olet kurssin omistaja</p>
<p>Kurssia ei ole aloitettu</p>
<form action="/courses/{{ course_name }}/update_course" method="post">
    <input type="hidden" name="update_value" value="1">
    <button type="submit">Aloita kurssi</button>
</form>
<h3>Lisää tehtävä</h3>

<form action="/add" method="POST">
    Tehtävän tyyppi:
    <p>
        <input type="radio" name="pizza" value="1"> Tekstivastaus
        <input type="radio" name="pizza" value="2"> Monivalinta
    <p>
        Valitse lisät:
    <p>
        <input type="checkbox" name="extra" value="A"> oregano
        <input type="checkbox" name="extra" value="B"> valkosipuli
    <p>
        Tehtävän kysymys: <br>
        <textarea name="message" rows="3" cols="50"></textarea>
    <p>
        <input type="submit" value="Lähetä">
</form>

{% endblock %}