<!-- Exercise page for students. -->
{% extends "layout.html" %}
{% block content %}
<a href="/courses/{{ course_name }}">Palaa kurssisivulle</a>
<h3>{{ exercise.2 }}</h3>
<p>{{ exercise.4 }}</p>

{% if open == 1 %}
<h4>Anna vastaus:</h4>
<form action="/answer" method="POST">
    <textarea name="answer" rows="3" cols="50"></textarea><br>
    <input type="hidden" name="course_name" value="{{ course_name }}">
    <input type="hidden" name="exercise_id" value="{{ exercise.0 }}">
    <input type="submit" value="Lähetä vastaus">
</form>
{% else %}
<h4>Tehtävien palautus on päättynyt.</h4>
{% endif %}

{% if show_result == 1 %}

{% if submission.4 == 0 %}
<br>
<strong>Vastasit väärin</strong>
{% else %}
<br>
<b>Vastasit oikein</b>
{% endif %}

<h4>Vastauksesi:</h4>
<p>{{ submission.3 }}</p>

{% endif %}

{% endblock %}