<!-- Shows my-courses in a list. Students see the courses where they have
enrolled. Teachers see the courses they own. -->
{% extends "layout.html" %}
{% block content %}

<h3>Omat kurssit</h3>
<p>Yhteensä {{ course_count }} kurssia | <a href="/courses">Katso käynnissä olevat kurssit</a></p>

{% if session.role == 1 %}

<ol>
    {% for name, open in course_list %}
    <li>
        <p>
            <a href="/courses/{{ name }}">{{ name }}</a>
            {% if open == 0 %}
            <br>Kurssia ei ole aloitettu
            {% elif open == 1 %}
            <br>Kurssi on käynnissä
            {% elif open == 2 %}
            <br>Kurssi on päättynyt
            {% endif %}
        </p>
    </li>
    {% endfor %}
</ol>

{% elif session.role == 0 %}

<ol>
    {% for name, open in course_list %}
    <li>
        <a href="/courses/{{ name }}">{{ name }}</a>
        {% if open == 2 %}
        Kurssi on päättynyt
        {% endif %}
    </li>
    <br>
    {% endfor %}
</ol>

{% endif %}


{% endblock %}