<!-- Shows the submissions of a student to the teacher. -->
{% extends "layout.html" %}
{% block content %}

{% if student_id %}
<a href="/courses/{{ course_id }}/students/{{ student_id }}">Takaisin</a>
{% else %}
<a href="/courses/{{ course_id }}/{{ exercise_id }}">Palaa harjoitukseen</a>
{% endif %}

{% if submissions %}
<ol>
    {% for id, answer, correct, time in submissions %}
    <li>
        <p>
            <i>{{ time }}</i> {% if correct == 1 %} <b>Oikein</b> {% else %} <b>Väärin</b> {% endif %}
            <br>{{ answer }}
        </p>
    </li>
    {% endfor %}
</ol>
{% else %}
<p><b>Ei vastauksia</b></p>
{% endif %}

{% endblock %}